.profile-views-section {
  margin-top: 20px;
  background-color: #F6EEF0;
  padding: 15px;
  border-radius: 12px;
  margin-left: 250px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-view-list {
  list-style-type: none;
  padding-left: 0;
}

.profile-view-item {
  background-color: #e3d0e8;
  margin-bottom: 8px;
  padding: 12px 16px;
  border-radius: 8px;
  color: #4C3D40;
  font-size: 16px;
  transition: background-color 0.2s ease;
}
.profile-view-item:hover {
  background-color: #d3c3e2;
  cursor: pointer;
}
.profile-view-item:last-child {
  border-bottom: none;
}
.profile-views-section h2{
  font-size: 24px;
}